.idea
.vscode

*.pyc
*.tar.gz

CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
build
install_manifest.txt
cmake-build-debug
**/build
**/thirdparty/include
**/thirdparty/lib
**/thirdparty/bin
**/CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/Makefile
**/CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/Makefile
**/install_manifest.txt
**/venv
**/CPPLINT.cfg

debian/*
!debian/rules
!debian/control
!debian/compat
!debian/changelog

obj-x86_64-linux-gnu

TAGS
**/TAGS

*bak
**/*bak
